body{
    margin: 60px;
}

.tooltip{
    position: relative;
    display: inline-block;
}


.tooltip-text{
    padding: 6px;
    background-color: #333;
    color: white;
    font-size: 12px;
    position: absolute;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    display: inline-block;
    top: -45px;
    left: -12px;
    visibility: hidden;
}

.tooltip-text::after{
    content: '';
    position: absolute;
    left: 10px;
    bottom: -5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-top: 10px solid #333;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
}

/* Right tooltip */

.tooltip-2{
    margin-left: 150px;
    position: relative;
    display: inline-block;
}

.tooltip-text-2{
    padding: 6px;
    background-color: #333;
    color: white;
    font-size: 12px;
    position: absolute;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    right: -120px;
    bottom: -7px;
    visibility: hidden;
}

.tooltip-text-2::after{
    content: '';
    position: absolute;
    left: -5px;
    bottom: 10px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 10px solid #333;
}

.tooltip-2:hover .tooltip-text-2{
    visibility: visible;
}

/* Bottom Tooltip */

.tooltip-3{
    left: 150px;
    position: relative;
    display: inline-block;
}

.tooltip-text-3{
    padding: 6px;
    background-color: #333;
    color: white;
    font-size: 12px;
    position: absolute;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    display: inline-block;
    bottom: -46px;
    left: -10px;
    visibility: hidden;
}

.tooltip-text-3::after{
    content: '';
    position: absolute;
    left: 10px;
    top: -5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #333;
}
.tooltip-3:hover .tooltip-text-3{
    visibility: visible;
}

/* Left Tooltip */

.tooltip-4{
    margin-top: 150px;
    position: relative;
    display: inline-block;
}

.tooltip-text-4{
    padding: 6px;
    background-color: #333;
    color: white;
    font-size: 12px;
    position: absolute;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    left: -120px;
    bottom: -11px;
    visibility: hidden;
}

.tooltip-text-4::after{
    content: '';
    position: absolute;
    right: -5px;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #333;
}

.tooltip-4:hover .tooltip-text-4{
    visibility: visible;
}